apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  log.level: debug
  registries.conf: |
    registries:
    - name: Harbor
      api_url: https://harbor.bankshield.com
      credentials: secret:argocd/harbor-credentials#creds
      default: true