server:
  port: 8081
  servlet:
    context-path: /auth

spring:
  application:
    name: bankshield-auth
  
  datasource:
    url: jdbc:mysql://localhost:3306/bankshield_auth?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    
  security:
    user:
      name: admin
      password: admin

app:
  jwt:
    secret: mySecretKey
    expiration: 86400000 # 24 hours in milliseconds

logging:
  level:
    com.bankshield.auth: DEBUG
    org.springframework.security: DEBUG